@font-face {
    font-family: 'bakul-nasi';
    src: url(font/BakulNasi.otf);
    font-weight: 300;
}

@font-face {
    font-family: 'Montserrat';
    src: url(font/Montserrat-VariableFont_wght.ttf);
    font-weight: 400;
}

body {
  background-image: url('foto/DSC05626.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin: 0 0 0 0;
}

h1 {
    font-family: 'bakul-nasi', sans-serif;
    font-size: 2em;
}

.white {
    border: solid white;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
}

.main-container {
    min-height: 800px;
    margin: 30px 50px 0 50px;
}

.main-container > * {
    padding: 0 10px 0 10px;
}

#titolo {
    font-size: 3rem;
}

#testo {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6em;
}

.parent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    margin: 20px 40px 0 40px;

}

.child {
    border: solid white;
    margin: 10px 10px 10px 10px;
}

.child > img {
    border-radius: 15px;
    height: 100%;
    width: 100%;
}
